<p>send-email works!</p>


<!-- <form (ngSubmit)="sendEmail()">
    <div class="recipientEmail">
        <label for="">Recipient Email:</label>
        <input type="email" class="recipientEmail" id="recipientEmail" [(ngModel)]="sendForm.recipientEmail"
            name="recipientEmail">
    </div>
    <div class="subject">
        <label for="">Subject:</label>
        <input type="text" class="subject" id="subject" [(ngModel)]="sendForm.subject" name="subject">
    </div>
    <div class="body">
        <label for="">Body:</label>
        <input type="text" class="body" id="body" [(ngModel)]="sendForm.body" name="body">
    </div>
    <div class="protocol">
        <label for="">protocol:</label>
        <select name="protocol" id="protocol" [(ngModel)]="sendForm.protocol" name="protocol">
            <option value="MSGRAPH">MSGRAPH</option>
            <option value="SMTP">SMTP</option>
        </select>
    </div>

    <button type="submit">Send Email</button>

</form>

@if(sendResponse()){
<div class="response">
    <p>{{sendResponse()?.status}}</p>
    <p>{{sendResponse()?.message}}</p>
    @if(sendResponse()?.messageId){<p>{{sendResponse()?.messageId}}</p>}
</div>
}

<app-tracking-details></app-tracking-details> -->

<!-- <form (ngSubmit)="getTrackingDetails()">
<div class="trackingDetails">
<label for="">trackingId: </label>
<input type="text" name="tracking" [(ngModel)]="this.statusForm.trackingId">
<button type="submit">Get Tracking Details</button>
</div>
</form>
@if(trackingDetailsEntity()){
  <div>
<p>trackingDetailsEntity.trackingDetailsEntity</p>
</div>} -->